.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

.social-logos{
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
}

.social-logo{
    margin: 10px;
    padding: 10px;
}

a{
    color: white;
}

.footer-text{
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 10px;
}

